@import '../../assets/styles/styles';

.calendar {
  .MuiBox-root {
    padding: 0;
  }
}

.drawer {
  height: 100vh;
}

.service-container {
  width: 100%;
  margin: 1rem;
  .MuiPaper-root {
    padding: 1rem;
    background-color: $background-grey;
  }
}

.drawer-content {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .MuiTextField-root {
    margin: 1rem;
  }
  .add-button {
    position: fixed;
    bottom: 1rem;
    margin: auto;
    width: 90vw;
  }
}

.client-container {
  margin-top: 1rem;
  display: flex;
  div {
    margin: 1rem 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .MuiIconButton-root {
    padding: 1rem;
    border: dashed 1px $font-grey;
    border-radius: 50%;
    margin: 0.5rem 0;
  }
}

.search-icon {
  margin-right: 1rem;
  color: $font-grey-light;
}

.drawer-middle {
  min-height: 50vh;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.time-pickers {
  display: flex;
  justify-content: space-around;
}

.rbc-time-view, .rbc-timeslot-group {
  border: solid 1px $background-grey!important;
}
.rbc-time-content > * + * > * {
  border-left: solid 1px $background-grey!important;
}
.rbc-time-view-resources .rbc-time-gutter {
  background-color: $background-grey-light;
  font-size: 0.7rem;
  color: #acacac;
  border: 0;
}
.rbc-allday-cell {
  display: none;
}
.rbc-time-view-resources .rbc-time-header-gutter {
  min-width: 10px;
  width: auto;
}

.rbc-time-view-resources .rbc-time-gutter {
  border-right: 0 !important;
}

.rbc-current-time-indicator {
  background-color: $primary !important;
  height: 2px !important;
  left: -5rem !important;
  z-index: 9999!important;
}

.rbc-header {
  padding: 0.5em 0;
  font-weight: normal;
  border: 0;
  border-left: solid 5px $primary;
  background-color: white;
}

.rbc-time-view-resources .rbc-time-header {
  -webkit-box-shadow: 0px 11px 19px -1px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 11px 19px -1px rgba(0,0,0,0.08);
  box-shadow: 0px 11px 19px -1px rgba(0,0,0,0.08);
  border: 0;
  z-index: 90;
}
.rbc-day-slot .rbc-events-container {
  margin-right: 0!important;
}
.rbc-day-slot {
  .rbc-event {
    border: 0 !important;
    border-left: solid 5px $primary !important;
    background-color: white;
    color: #515151;
    font-size: 0.8rem;
    text-overflow: ellipsis;
    width: 100%;
  }
}

.rbc-day-slot .rbc-event-label, .rbc-day-slot .rbc-event-content  {
  padding: 0.5rem;
}

.picker-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.picker-toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
  background-color: white;
  button {
    margin-left: 6.5rem;
  }
}

.rbc-time-slot.rbc-label {
  margin-top: 2rem!important;
}

.calendar-toolbar {
  display: flex;
  padding: 0.2rem 1rem;
  justify-content: space-around;
  span {
    padding: 0.5rem 0;
  }
}
.rbc-today {
  background-color: $background-grey-light!important;
}

.rbc-time-slot {
  min-height: 3rem;
}
.rbc-time-view, .rbc-timeslot-group {
  border: 0;
  background-color: $background-grey-light;
}
