@import "assets/styles/styles";

.wrapper {
  margin-bottom: 5vh;
}


@media (min-width: 800px) {
  .page-container {
    max-width: 375px;
    max-height: 80vh;
    margin: 5rem auto;
    overflow: scroll;
  }
}

@media (max-width: 350px) {
  .wrapper {
    margin-bottom: 2vh;
  }
}
