$background-grey: #f3f3f3;
$background-grey-light: #F2F2F2;
$font-grey-light: rgba(0, 0, 0, 0.38);
$font-grey: rgba(0, 0, 0, 0.25);
$font-dark: #363165;
$primary: #FF2366;
$secondary: #5900FF;

html, body {
  width: 100%;
  margin: 0;
  font-family: Montserrat;
}

a {
  text-decoration: none;
  color: inherit;
}

.disabled-link {
  pointer-events: none;
}

