$background-grey: #f3f3f3;
$background-grey-light: #f9f9fa;
$primary: #368bef;

html, body {
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.disabled-link {
  pointer-events: none;
}

