@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
$background-grey: #f3f3f3;
$background-grey-light: #F2F2F2;
$font-grey-light: rgba(0, 0, 0, 0.38);
$font-grey: rgba(0, 0, 0, 0.25);
$font-dark: #363165;
$primary: #FF2366;
$primary-disabled: #ffd3e0;
$secondary: #5900FF;
$success: #2DC76D;
$error: #FF0F0F;

html, body {
  width: 100%;
  margin: 0;
  font-family: Montserrat;
}

p, li, h1, h2, h3, h4, h5, h6 {
  color: $font-dark;
}

h1 {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;

  strong {
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

p, li {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.disabled-link {
  pointer-events: none;
}

.MuiInputBase-input, .MuiOutlinedInput-adornedStart {
  background-color: $background-grey;
}

body {
  input {
    border: 0;
  }

  .primary-info {
    color: $primary;
  }

  .MuiButton-contained.Mui-disabled {
    background-color: $primary-disabled;
    color: white;
  }

  .success-icon {
    color: $success;
  }

  .error-icon {
    color: $error;
  }

  .success-field {
    .MuiOutlinedInput-input {
      color: $success;
    }
    .MuiOutlinedInput-notchedOutline {
      border: 2px solid $success !important;
      border-radius: 5px;
    }
  }

  .error-field {
    .MuiOutlinedInput-input {
      color: $error;
    }
    .MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
      border: 2px solid $error;
      border-radius: 5px;
    }
  }

  .MuiListItem-root {
    padding-top: 0;
    padding-bottom: 0;
  }

  .MuiButton-containedPrimary {
    border-radius: 30px;
    padding: 0.5rem 1.2rem;
    text-transform: none;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
  }

  .font-button {
    &--small {
      font-size: 0.8rem;
    }

    &--big {
      font-size: 1.1rem;
    }

    .MuiButton-label {
      text-transform: none;
      color: $secondary;
      font-weight: bold;
    }
  }
}



@media (max-width: 350px) {
  h1 {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2rem;

    strong {
      font-weight: 900;
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  p, ul li {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 0;
  }

  body {
    .primary-info {
      color: $primary;
    }
    .MuiListItem-root {
      padding-top: 0;
      padding-bottom: 0;
    }

    .MuiButton-containedPrimary {
      border-radius: 20px;
      padding: 0.5rem 1rem;
      text-transform: none;
      font-weight: bold;
      font-size: 0.8rem;
      line-height: 1.8rem;
    }
    .font-button {
      &--small {
        font-size: 0.7rem;
      }
      &--big {
        font-size: 0.8rem;
      }
    }
  }
}
